*{
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #1F2937;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: #1F2937;
    padding: 40px 0;
    max-width: 100%;
}

.navbar li{
    display: inline;
    padding: 5px 40px;
    background-color: white;
    margin-left: 20px;
    border-radius: 5px
}

.navbar li a{
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    color: #1F2937;
}

.navbar li:hover{
    cursor: pointer;
    color: grey;
}

.navbar .logo{
    max-width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-weight: 1000;
    font-size: 24px;
    border-bottom: 2px solid white;

    transition: ease-in-out 1s;
    transform: rotate(0.00turn);

}

.navbar .logo:hover{
    cursor: pointer;
    transition: ease-in-out 1s;
    transform: rotate(0.01turn);
}

.hero{
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 100px;
    gap: 50px;
}

.hero .hero-text{
    max-width: 100%;
    text-align: left;
}

.hero .hero-text h1{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 900;
}

.hero .hero-text p{
    margin-bottom: 20px;
}

.hero .hero-img img{
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);

}

.hero .signup-button{
    background-color: #3882F6;
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
}

.hero .signup-button a{
    color: white;
    text-decoration: none;
}


.aboutus-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 30px;
    padding: 30px;
}

.aboutus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 40px 0;

}

.aboutus h1{
    padding-bottom: 40px;
}

.aboutus-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 10%;
    margin: 0 20px;
}

.aboutus-items p{
    min-width: 100px;
    height: auto;
    text-align: center;
}

.aboutus-items img{
    border: 3px solid #3882F6;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 65px 0;

}

.quote h2{
    max-width: 50%;
    font-weight: normal;
}

.quotesign p{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 1000;
    margin-top: 20px;
    width: 50vw;
}


.calltoaction{
    background-color: white;
    padding: 80px;;
}

.calltoaction-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 30px;
    max-width: 80%;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
}

.calltoaction-text{
    color: white;
}


.calltoaction-button{
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 3px 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
}

.calltoaction-button:hover{
    cursor: pointer;
    background-color: white;
    color: #3882F6;
    transition: ease-in-out 0.3s;
}

.calltoaction-button label:hover{
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1F2937;
    padding: 30px;
    margin: 0 auto;
}

footer a{
    text-decoration: underline;
    color: white;

}